      <!-- announcement-bar -->
        <div class="announcement-bar bg_dark">
            <div class="wrap-announcement-bar">
                <div class="box-sw-announcement-bar speed-1">
                    <div class="announcement-bar-item">
                        <p>FREE SHIPPING AND RETURNS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>LIMITED TIME OFFER: FASHION SALE YOU CAN'T RESIST</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>FREE SHIPPING AND RETURNS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>LIMITED TIME OFFER: FASHION SALE YOU CAN'T RESIST</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>FREE SHIPPING AND RETURNS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>LIMITED TIME OFFER: FASHION SALE YOU CAN'T RESIST</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>FREE SHIPPING AND RETURNS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>LIMITED TIME OFFER: FASHION SALE YOU CAN'T RESIST</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>FREE SHIPPING AND RETURNS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</p>
                    </div>
                    <div class="announcement-bar-item">
                        <p>LIMITED TIME OFFER: FASHION SALE YOU CAN'T RESIST</p>
                    </div>
                </div>
            </div>
            <span class="icon-close close-announcement-bar"></span>

        </div>
        <!-- /announcement-bar -->